@import 'src/assets/style/px2rem.scss';

.slider-list {
    // width: 90% !important;
    height: px2rem(350) !important;
    border-radius: px2rem(20);
}

.slider-frame {
    border-radius: px2rem(10);
}

.slider-slide {
    height: 100% !important;
}

.find-carousel {
    touch-action: none;
}
.fined-tab-bars {
    width: 100%;
    height: px2rem(230);
    // background: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 px2rem(40);
    margin-top: px2rem(20);
    border-bottom: px2rem(1) solid #ccc;

    .fined-tab-list {
        width: px2rem(130);
        height: px2rem(150);

        // background: #000;
        .fined-icon-run {
            width: px2rem(100);
            height: px2rem(100);
            margin: 0 auto;
            background: red;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .fined-icon {
                font-size: px2rem(60);
                text-align: center;
                line-height: px2rem(100);
                color: #fff;
            }

            .font-sizes {
                text-align: center;
                line-height: px2rem(100);
                color: #fff;
                font-size: px2rem(100);
            }
        }

        .fined-icon-text {
            font-size: px2rem(30);
            padding-top: px2rem(20);
            color: #000;
            text-align: center;
        }
    }
}

.common-song-wrap {
    width: 100%;
    // height: px2rem(500);
    // background: #ccc;
    margin-top: px2rem(20);
    margin-bottom: px2rem(40);

    .common-song-title {
        width: 100%;
        height: px2rem(80);
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 px2rem(20);

        .common-song-left {
            color: #000;
            font-size: px2rem(35);
            font-weight: 800;
        }

        .common-song-right {
            font-size: px2rem(25);
            padding: px2rem(5) px2rem(15);
            border-radius: px2rem(30);
            line-height: px2rem(35);
            height: px2rem(45);
            border: 1px solid #ccc;
            color: #000;
        }
    }

    @media screen and (max-width:480px) {
        .recommended-song-list {
            width: 100%;
            // height: px2rem(400);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: px2rem(10) px2rem(20);

            .recommended-song-tip {
                width: px2rem(250);
                height: px2rem(330);
                // background: #fff;
                margin-top: px2rem(30);

                .recommended-song-price {
                    width: px2rem(250);
                    height: px2rem(250);
                    // background: lightblue;
                    background: url('../../assets/images/timg.gif') no-repeat;
                    // background: url('https://wimg.588ku.com/gif620/19/09/03/2ac4df3fe74e781eee46f34e8252ef32.gif') no-repeat;
                    background-size: 100% 100%;
                    border-radius: px2rem(10);
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .recommended-song-text {
                    width: 100%;
                    font-size: px2rem(25);
                    padding-top: px2rem(10);
                    text-align: left;
                    color: #000;
                    word-break: break-all;
                    margin: 0;
                }
            }
        }
    }

    @media screen and (min-width:400px) {
        .recommended-song-list {
            width: 100%;
            // height: px2rem(400);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: px2rem(10) px2rem(40);

            .recommended-song-tip {
                width: px2rem(280);
                height: px2rem(350);
                // background: #fff;
                margin-top: px2rem(30);

                .recommended-song-price {
                    width: px2rem(280);
                    height: px2rem(280);
                    background: url('../../assets/images/timg.gif') no-repeat;
                    background-size: 100% 100%;
                    border-radius: px2rem(10);
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .recommended-song-text {
                    width: 100%;
                    font-size: px2rem(25);
                    padding-top: px2rem(20);
                    text-align: left;
                    color: #000;
                    word-break: break-all;
                    margin: 0;
                }
            }
        }
    }
    .song-mv-list {
        width: 100%;
        @media screen and (max-width:375px) {
            .song-mv-tips {
                width: 90%;
                margin: px2rem(20) auto;
                height: px2rem(600);
                background: #efefef;
                border-radius: px2rem(10);
                .song-mv-tip-wrap {
                    width: 100%;
                    height: px2rem(500);
                    overflow: hidden;

                    // background: red;
                    border-radius: px2rem(10);

                    .song-mv-tip-pri {
                        width: 100%;
                        height: px2rem(400);
                        background: url('../../assets/images/timg.gif') no-repeat;
                        background-size: 100% 100%;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .song-mv-tip-name {
                        width: 100%;
                        height: px2rem(100);
                        // background: lightcoral;
                        line-height: px2rem(100);
                        font-size: px2rem(30);
                        text-align: left;
                        padding: 0 px2rem(30);
                        color: #000;
                        font-weight: 800;
                    }
                }
            }
        }

        @media screen and (min-width:400px) {
            .song-mv-tips {
                width: 90%;
                margin: px2rem(20) auto;
                height: px2rem(700);
                background: #efefef;
                border-radius: px2rem(10);

                .song-mv-tip-wrap {
                    width: 100%;
                    height: px2rem(600);
                    overflow: hidden;

                    // background: red;
                    border-radius: px2rem(10);

                    .song-mv-tip-pri {
                        width: 100%;
                        height: px2rem(500);
                        background: url('../../assets/images/timg.gif') no-repeat;
                        background-size: 100% 100%;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .song-mv-tip-name {
                        width: 100%;
                        height: px2rem(100);
                        // background: lightcoral;
                        line-height: px2rem(100);
                        font-size: px2rem(30);
                        text-align: left;
                        padding: 0 px2rem(30);
                        color: #000;
                        font-weight: 800;
                    }
                }
            }
        }

        .song-mv-tip-comm {
            width: 100%;
            height: px2rem(100);
            // background: lightblue;
            background: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .song-mv-tip-comm-left {
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #fff;
                padding: 0 px2rem(15);

                .thumbs-up {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .thumbs-icon {
                        font-size: px2rem(40)
                    }
                }

                .comment-up {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .comment-icon {
                        font-size: px2rem(50)
                    }
                }

                span {
                    padding-left: px2rem(10);
                }

            }

            .song-mv-tip-comm-right {
                width: 10%;
                height: 100%;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                font-size: px2rem(40);

                .no-interest {
                    position: absolute;
                    animation: nointerest 0.2s;
                    animation-fill-mode: forwards;
                    width: px2rem(350);
                    height: px2rem(90);
                    background: #fff;
                    box-shadow: 0 0 px2rem(10) px2rem(2) #eaeaea;
                    z-index: 9999;
                    text-align: left;
                    line-height: px2rem(90);
                    padding-left: px2rem(15);
                    color: #000;
                    font-size: px2rem(35);
                    border-radius: px2rem(10);

                    &:active {
                        background: #ccc
                    }
                }
            }
        }

    }


}


@keyframes nointerest {
    from {
        bottom: 0;
        right: 0;
    }

    to {
        bottom: px2rem(-80);
        right: px2rem(20);
    }
}