.DS_Store
node_modules
/build
./src/web.config.json
.vscode
/tests/e2e/videos/
/tests/e2e/screenshots/
.cache-loader
.awcache
.env

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

/dist
/src/web.config.json
/public/appConfig.json

*.zip

/246
/227
/dist
/build