@import './assets/style/px2rem.scss';
@font-face {
    font-family: 'iconfont';
    /* project id 1355540 */
    src: url('//at.alicdn.com/t/font_1355540_1l1phwrr3fm.eot');
    src: url('//at.alicdn.com/t/font_1355540_1l1phwrr3fm.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1355540_1l1phwrr3fm.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1355540_1l1phwrr3fm.woff') format('woff'),
        url('//at.alicdn.com/t/font_1355540_1l1phwrr3fm.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1355540_1l1phwrr3fm.svg#iconfont') format('svg');
}
.iconfont {
    font-family: 'iconfont'!important;
    font-size: px2rem(28);
    font-style:normal;
}

* {
    -webkit-appearance: none;
    box-sizing: border-box;
    /* -webkit-transform: translate3d(0, 0, 0);

    -moz-transform: translate3d(0, 0, 0);

    -ms-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0); */
}
.small {
    transform: scale(0.8);
}
.bigsmall {
    transform: scale(0.7);
}
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul,
section {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img,
button {
    border: none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: 400;
}

ol,
ul {
    list-style: none;
}

li {
    list-style: none;
}

q:after,
q:before {
    content: '';
}

button,
input,
select,
textarea {
    font: 100% "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '宋体', sans-serif;
}

a {
    text-decoration: none;
}

input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}

input:focus {
    outline: none;
}

body,
html {
    height: 100%;
    overflow: hidden;
}


img,
span,
input {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.sp-span span {
    display: inline;
}

button {
    background-color: transparent;
    outline: none;
}

#root {
    width: 100%;
    height: 100%;
    background: #fff;
}

@media screen and (min-width:430px) {
    #root {
        width: 430px;
        height: 100%;
        overflow: hidden;
        margin: 0 auto !important;
        position: relative;
    }
}

@media screen and (max-width:430px) {
    #root {
        width: 100%;
        position: relative;
        height: 100%;
        background: #fff;
    }
}
.audios {
    background: #000;
    position: absolute;
    z-index: -888;
    opacity: 0;
}
.none {
    display: none;
}
/* .root-container {
    padding-bottom: px2rem(100);
} */